<!doctype html>
<html style="background-color:#FFFFFF">
	<title>Reconhecimento de pele</title>
	<h1 style="font-family:Sans-serif;font-size:150%" >Reconhecimento de pele</h1>
	
	
	<h2 style="font-family:Sans-serif;font-size:100%"">Insira uma nova imagem</h2>

	<body>
		<div>
			<img src="images/magna.jpg" alt="Magna Sis" width="120" height="120">
		</div>
	</body>
	<form method=post enctype=multipart/form-data>
	    <input type=file name=file>
	    <input type=submit value=Upload>
	</form>
</html>
